<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
	<link rel='stylesheets' type='text/css' href='/stylesheets/mycategory.css'>
	<title>Untitled</title>
</head>

<body>
  <form action="/category" method="post">
    <p>무슨 종류를 드시고 싶은가요?</p>
    <input type="radio" name="category" value="etc">기타
    <input type="radio" name="category" value="korean">한식
    <input type="radio" name="category" value="chinese">중식
    <input type="radio" name="category" value="japanese">일식
    <input type="radio" name="category" value="snack">분식
    <button type="submit">글쓰기</button>
  </form>
</body>
</html>
