<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <title>회원가입</title>
<script type="text/javascript">
	windov.onload=function(){
		doucument.getElementByID('my-form').onsubmit=function(){
			var pass=document.getElementById('pass').value; //변수 pass를 문서 안에 있는 id='pass'의 value로 선언
			var passCheck=document.getElementById('pass-check').value //변수 passCheck는 문서안에 있는 id="pass-check"로 선언

			if(pass==passCheck) { //변수 pass와 변수 passCheck가 일치하면
				alert('success');
			} else { //변수 pass와 변수 passCheck가 일치하지 않으면
				alert('retry') ;
					return false;
			}
		}
	}



function checkpassword()
{
	var pass=document.getElementById('pwd1').value;
	var pass2=document.getElementById('pwd2').value;

	if(pass==pass2)
	{
		alert("비밀번호 일치");
	}else {
		alert("비밀번호 일치하지 않습니다.");
	}
}



</script>
</head>
<body>
<div id="wrap">
	<!--header-->
    <div id="header">
    <h1><a href="C:\Users\hahyun\Desktop\project\main.html">BGS</a></h1>
    <div class="theme_setting" style="display:none" onmouseover="LoginTheme.openLayer()" onmouseout="LoginTheme.closeLayer()">
    <a href="javascript:LoginTheme.redirectConfigWindow()" onclick="nclks('ltg.setting',this,event)" class="sp btn_setting"><span class="blind">헤더 테마 설정</span></a>
    </div>
    <!--//header-->
    <!--container-->
    <div id="container">
    	<div id="content">
		<form action="/register" method="post">
        	<div class="title">
    		<legend>회원가입</legend>
            </div>
            <div class="gender">
            <p>
        		성별:
            	<input type="radio" name="gender" value="man">남자
	            <input type="radio" name="gender" value="woman">여자
	        </p>
			</div>

            <div class="id">
            <p><label>아이디 : <input type="text" id='userid' name="ID" placeholder="아이디 입력" required></label>
						<input onclick='checkId()' type='button' name='checker' value='중복확인'></p>

	        </div>

            <div class="password">
            <p><label>비밀번호 : <input type="password" id='pwd1' name="pwd" placeholder="비밀번호 입력" required></label></p>
    	    <p><label>비밀번호 확인 : <input type="password" id='pwd2' name="pwd2" placeholder="비밀번호 입력 확인" required></label>
					<input onclick='checkpassword()' type='button' name='checker' value='비밀번호확인'></p>
        	</div>

      		<div class="name">
            <p><label>이름 : <input type="text" name="Name" placeholder="이름 입력" required></label></p>
					 </div>

					<div class="nick">
					<p><label>닉네임 : <input type="text" name="nick" placeholder="닉네임 입력"required></label></p>
					</div>

            <div class="e-mail">
            <p><label>E-mail : <input type="email" name="email" placeholder="이메일 입력"required></label></p>
            </div>

            <div class="number">
			<p>
        		전화번호

    	        <input type="tel" name="phoneNumber" placeholder=" -빼고 숫자만 입력" required>
        	</p>
            </div>

            <div class="e-mail agree">
	        <p>
    	    	E-mail 수신 :
	 			<input type="radio" name="receive" value="agree"> 동의
    	        <input type="radio" name="receive" value="reject"> 거부
        	</p>
            </div>

            <div class="favorite food">
            <p>
        	관심 음식 :
        	     <input type="checkbox" name="favorite" value="pizza">피자
            	 <input type="checkbox" name="favorite" value="hamburger">햄버거
	             <input type="checkbox" name="favorite" value="chciken">치킨
    	    </p>
            </div>

	       <input type="submit" value="가입">
	     </form>
	     </div>
    	</body>
	   </html>
