<!DOCTYPE html><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">

<head>
<meta name="ROBOTS" ="NOINDEX, NOFOLLOW" />
<meta http-equiv="-Type" ="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" ="IE=Edge"/>
<link rel="stylesheet" type="text/css" href="C:\Users\hahyun\Desktop\backup\cssTest05-29.css" />
    
<title>project homepage</title>
</head>

<script src="/javascripts/jquery-1.11.2.min.js"></script>
<script>
function setCookie( name, value, expiredays ) 
{ 
	var todayDate = new Date(); 
	todayDate.setDate( todayDate.getDate() + expiredays ); 
	document.cookie = name + "=" + escape( value ) + "; path=/; expires=" + todayDate.toGMTString() + ";" 
}
function getCookie(cname)
{
	var name = cname + "=";
	var ca = document.cookie.split(';');
	for(var i=0; i<ca.length; i++) 
	{
		var c = $.trim(ca[i]);
		if (c.indexOf(name)==0){
			return c.substring(name.length,c.length);
		}
	}
	return "";
}
$(document).ready(function(){
	$(".close_layer").click(function(){
		$(this).parent().parent().parent().css("display","none");
	});
	
	$(".close_today").click(function(){
		if($(this).is(":checked") == true){
			setCookie("layer"+$(this).val(), "N", 1);
			$(this).parent().parent().parent().css("display","none");
		}
	});
});
</script>


<!--wrap-->
<div id="wrap">
	<!--header-->
	<div id="header">
	<div class="top_title">
		<div class="top_title1">
			<div class="gnb"><!--우측 베너-->
				<ul>
            	<li><a href="/login">로그인</a></li>
				<li><a href="/register">회원가입</a></li>
				<li><a href="javascript:goToLogin();">마이페이지</a></li>
				<li><a href="/?page=cscenter">고객센터</a></li>
				</ul>
			 </div><!--//우측 베너-->
		</div><!--top_title1-->
	</div><!--top_title-->

	<div class="header_wrap">
		<div class="header_logo"><a href="/index.asp"><!--main.html로 링크점-->
			<img src="C:\Users\hahyun\hell-project\fooding\longlogo.png" alt="로고"/>
			</a></div><!--로고-->
		<div class="header_search"><!--검색박스-->
			<div class="input_box" style="float:left;">
			<div class="search_box" style="float:right;">
            	<input id="sv" type="text" class="text_input" value="" align="right"></div><!--우측 검색 칸-->
			<div class="search_box1"><img src="#" style="cursor: pointer;" id="search_btn"/></div>
		</div><!--//header_search-->
	</div><!--//header_wrap-->
	
    <div class="lnb"><!--Center menu-->
		<ul>
		<li><a href="/?page=sub&cate_code=01">HOME</a></li>
		<li><a href="/?page=sub&cate_code=02">오늘의 추천메뉴</a></li>
		<li><a href="/?page=sub&cate_code=03">검색하기</a></li>
        <li><a href="/?page=sub&cate_code=04">카테고리</a></li>
        <li><a href="/?page=sub&cate_code=05">게시판</a></li>
		<li><a href="/?page=sub&cate_code=06">고객센터</a></li>
		</ul>
	</div><!--lnb//center_menu-->
</div><!--//header-->
        
   
<!--main content-->
<p>
<div class="write" position="absolute" align="center">

<form action="/board/write" method="post" onSubmit="return onWriteSubmit()">
    <table border="1">
        <tr>
            <td>작성자</td>
            <td><input type="text" name="creator_id" id="creator_id" required/></td>
        </tr>
        <tr>
            <td>제목</td>
            <td><input type="text" name="title" id="title" required/></td>
        </tr>
        <tr>
            <td>내용</td>
            <td><textarea name="content" id="content" cols="30" rows="10" required></textarea></td>
        </tr>
        <tr>
            <td>패스워드</td>
            <td><input type="password" name="passwd" id="passwd" required/></td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">글쓰기</button>
            </td>
        </tr>
    </table>
</form>

<script>
    function onWriteSubmit()
    {
        if ( $("#creator_id").val().trim() == "" )
        {
            var message = "아이디를 입력해 주세요";
            $("#creator_id").val("");
            $("#creator_id").focus();
            alert(message);
            return false;
        }

        if ( $("#title").val().trim() == "" )
        {
            var message = "제목을 입력해 주세요";
            $("#title").val("");
            $("#title").focus();
            alert(message);
            return false;
        }

        if ( $("#content").val().trim() == "" )
        {
            var message = "본문 내용을 입력해 주세요";
            $("#content").val("");
            $("#content").focus();
            alert(message);
            return false;
        }

        if ( $("#passwd").val().trim() == "" )
        {
            var message = "패스워드를 입력해 주세요";
            $("#passwd").val("");
            $("#passwd").focus();
            alert(message);
            return false;
        }
    }
</script>

</div>
    
<div class="footer_warp">
	<div class="bottom_logo"> <img src="#"/> </div>
		<div class="bottom_add"></div>
	</div>
	<div class="bottom_add soft_footer">
		<p>
			제작자 : 컴퓨터 정보공학과 BGS
			TEL : 031-123-4567
			주소 : 경기도 의왕시<br>
		</p>
	</div>
</div>
<br />

<div class="notice_text">
	<p class="quick_text_top01">&nbsp </p>
	<span class="quick_text top_btn">TOP</span>
	<span class="quick_text1 top_btn">위로</span>
	</div><!--위로-->
</div><!--퀵배너-->
</body>




</html>
